<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="zpm-registry.ZPM">
    <Module>
      <Name>zpm-registry</Name>
      <ExternalName>ZPM Registry</ExternalName>
      <Description>Registry server for ZPM</Description>
      <Version>1.1.15</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>yaml-utils</Name>
          <Version>0.1.*</Version>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="ZPM.PKG"/>
      <Invoke Class="ZPM.Utils" Method="SQLsetup"></Invoke>
      <Invoke Class="ZPM.Utils" Method="AddSSLConfiguration"></Invoke>
      <CSPApplication 
        Url="/registry"
        Path="/src"
        Recurse="1"
        Directory="{$cspdir}/registry" 
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="1"
        DispatchClass="ZPM.Registry"
        ServeFiles="1"
        CookiePath="/registry"
        UseCookies="2"
       />
    </Module>
  </Document>
</Export>
