<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="zpm-registry.ZPM">
    <Module>
      <Name>zpm-registry</Name>
      <Description>Registry server for ZPM</Description>
      <Version>1.0.8</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="ZPM.PKG"/>

      <CSPApplication 
        Url="/registry"
        Path="/src"
        Recurse="1"
        Directory="{$cspdir}/registry" 
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="0"
        DispatchClass="ZPM.Registry"
        ServeFiles="1"
        CookiePath="/registry"
        UseCookies="2"
       />
    </Module>
  </Document>
</Export>
